body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;

  // @include mobile {
  //   display: block;
  // }
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.flex {
  display: flex;
}

.btn {
  &--primary {
    background-color: var(--color-accent);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-accent-hover);
    }
  }

  &--secondary {
    background-color: var(--color-text);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-text-hover);
    }
  }

  padding: 22px 47px;
  font: var(--middle-font);
  border-radius: 4px;
  transition: color 0.2s ease-in-out,
  background-color 0.2s ease-in-out;
}



.title {
  font: var(--middle-high-font);
  color: var(--color-text);
  margin: 0;
  margin-bottom: var(--main-offset);
}

.custom-checkbox {
  position: relative;
  margin-left: 30px;
  cursor: pointer;

  .checkbox__content::after {
    content: '';
    position: absolute;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-border-sand);
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
  }

  &__field:checked+.checkbox__content::after {
    background: url('./../assets/svg/checkmark.svg') no-repeat center center;
  }

  &__field {
    display: none;
  }

}

input {
  &::placeholder {
    color: #B2B5BB;
  }

  outline: none;
  max-width: 500px;
  font: var(--middle-font-book);
  padding: var(--second-offset);
  background-color: var(--color-white);
  border-radius: 4px;
  border: none;
}